@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.single_offer_detail {
    display: grid;
    grid-template-columns: 1fr 50% 1fr;
    margin: 5rem auto;
    height: 60vh;
    column-gap: 3rem;
}

.offerBy_company_logo {
    border-radius: 10px;
    overflow: hidden;
}

.offerBy_company_logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.offers_items {
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.single_item {
    width: 5.5rem;
    height: 5.5rem;
    background-color: black;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 0 0 5px white,
                0 0 1px 7px black;
}

.single_item img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* border: 3px solid black; */
}

.detailling {
    margin-top: 1.5rem;
}

.detailling h2 {
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    /* letter-spacing: 1px; */
}

.pricing {
    margin-top: 0.8rem;
    margin-left: 10px;
}

.pricing p {
    margin-bottom: 10px;
    font-size: 18px;
}

.pricing p del {
    color: red;
}

.pricing p span {
    color: green;
    font-weight: 600;
    font-size: 20px;
}

.contact_details_shop hr {
    background-color: black;
    height: 1.6px;
    margin: 15px 0;
}

.shop_name p{
    font-family: sans-serif;
    font-weight: 600;
}

.shop_area {
    display: flex;
    justify-content: ce/nter;
    align-items: center;
    color: red;
    margin-bottom: 15px;
}

.shop_area span, .locatedAt span, .contact_to_shopkeeper span, .opening_closing_timming span {
    margin-right: 20px;
}

.locatedAt, .contact_to_shopkeeper, .opening_closing_timming {
    color: red;
    margin-bottom: 15px;
}

.locatedAt p, .contact_to_shopkeeper p, .opening_closing_timming p {
    color: black;
    margin-left: 50px;
}















/* .single_offer_detail {
    height: 100vh;
    padding: 3rem;
}

.single_offer_detail h2{
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.detail_container{
    margin: 2rem 0;
    background-color: white;
    box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.7);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.single_offer_img {
    flex-basis: 30%;
    border-radius: 10px;
    overflow: hidden;
}

.single_offer_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.more_details {
    flex-basis: 50%;
}

.more_details h1 {
    font-size: 28px;
    color: black;
    margin-bottom: 2rem;
}

.row1 {
    margin: 10px;
}

.row1 p {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.row1 p span  {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
} */

