.categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories ul {
    display: flex;
    justify-content: center;
}

.arrow {
    font-size: 27px;
    cursor: pointer;
}

.category {
    width: 8.5rem;
    height: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 5px;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}

.category p{
    margin-top: 10px;
    font-family:'Open Sans,sans-serif';
    color: #333;
    font-weight: 600;
}

.category button {
    border: 0;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    background-color: var(--primary-color);
    transition: 0.3s;
    cursor: pointer;
}

.inner-circle{
    width: 3rem;
    height: 3rem;
    padding: 5px;
    background-color: white;
    border-radius: 50%;
}

.inner-circle img{
    width: 100%;
}

.category:hover {
    background-color: rgba(243, 235, 217, 0.505);
}

.category:hover button{
    transform: translateY(-6px);
}
